= form_for @campaign, :html => { :multipart => true } do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= "#{pluralize(@campaign.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    = file_field_tag :file,  :accept => 'text/xlsx'

  .actions
    = f.submit 'Save'




-# %h2 Import Products
-# = form_tag import_products_path, multipart: true do
-#   = file_field_tag :file
-#   = submit_tag "Import"
