#campaigns
  %h2.page-header
    Campaigns
    .pull-right
      = link_to 'Import new campaign', new_campaign_path, class: 'btn btn-md btn-success'

  .row
    - @campaigns.each do |campaign|
      .col-xs-12.col-sm-4.col-md-3
        .thumbnail
          = image_tag campaign.images.sample.url, class: 'img-responsive'
          .caption
            %h3= campaign.name
            %p.text-muted
              Images:
              %span.badge= campaign.images.size
              Tags:
              %span.badge= campaign.tags.size
            %hr
            %p
              .btn-group.btn-group-justified
                = link_to 'Show', campaign, class: 'btn btn-block btn-primary'
                = link_to 'Destroy', campaign, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-block'



.well
  TODO:
  %ol
    %li.done Multi select
    %li.done Selected filter
    %li.done Show values select box
    %li.done Cover with tests (models)
    %li Cover with tests (controllers)
    %li.done [IMPORT] Number of rows
    %li.done [IMPORT] Ignore empty rows
    %li [SHOW] Image preview on hover
    %li.done [SHOW] Multiple tag filters
    %li [SHOW] Auto height for 'tags' select box
    %li [SHOW] Replace selects with drop-downs

  BONUS:
  %ol
    %li.done Enable codeclimate metrics (https://codeclimate.com/github/vlewin/cx_live)
    %li Add 'Deploy to Heroku' button
