%h2.page-header
  Campaigns
  .pull-right
    = link_to 'Import new campaign', new_campaign_path, class: 'btn btn-md btn-success'

.row
  - @campaigns.each do |campaign|
    .col-xs-12.col-sm-4.col-md-3
      .thumbnail
        = image_tag campaign.images.first.url, class: 'img-responsive'
        .caption
          %h3= campaign.name
          %p.text-muted
            %span.badge= "Images #{campaign.images.count}"
            %span.badge= "Tags #{campaign.tags.count}"
          %hr
          %p
            = link_to 'Show', campaign, class: 'btn btn-block btn-primary'

