%p#notice= notice

%h3.page-hader
  = @campaign.name

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        .panel-title Images

      .panel-body
        - if @images
          .row
            - @images.each do |image|
              .col-xs-6.col-md-3
                = image_tag image.url
        - else
          %h4 No image found!

  .col-md-6
    .panel.panel-default
      .panel-heading
        .panel-title Filters

      .panel-body
        -# != ap params
        = form_tag search_campaign_path(@campaign), { id: '#filters_form' } do
          .filter
            - data = { source: values_campaign_path(@campaign) }
            - options = { selected: params[:name], class: 'filter form-control', data: data }
            = select_tag :name, options_for_select(@tags), options
            %br
            .value

          %span.help-block Please reload the page if second select box doesn't appear after select change

          %hr
          = submit_tag 'Search', class: 'btn btn-success'

    .well
      TODO:
      %ol
        %li Multi select
        %li Selected filter


= link_to 'Back', campaigns_path, class: 'btn btn-default'




