%p#notice= notice

%h3.page-hader
  = @campaign.name

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        .panel-title
          Images
          .pull-right
            .badge= @images.size

      .panel-body
        - if @images
          .row
            - @images.each do |image|
              .col-xs-6.col-md-3
                = image_tag image.url
        - else
          %h4 No image found!

  .col-md-6
    .panel.panel-default
      .panel-heading
        .panel-title Filters

      .panel-body
        = form_tag search_campaign_path(@campaign), { id: '#filters_form' } do
          .filter
            - options = { class: 'tag form-control', data: { source: values_campaign_path(@campaign) }}
            = select_tag :name, options_for_select(@tags, params[:name] || :title), options
            %br
            .value
              - options = { multiple: true, class: 'form-control', size: 10 }
              = select_tag :tags, options_for_select(@values, selected: params[:tags]), options

          %span.help-block Please reload the page if second select box doesn't appear after select change

          %hr
          = submit_tag 'Apply filters', class: 'btn btn-success'

= link_to 'Back', campaigns_path, class: 'btn btn-default'




